* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-bar {
    max-width: 1160px;
}

.navbar-brand-t {
    font-weight: 700;
    font-size: 22px;
    color: #3E3E3E;
}

.sticky-portion {
    display: none;
    height: 40px;
    width: 250px;
    border-left: 8px solid #3F87F5;
    position: relative;
    background-color: #ffffff;
}

.package-card {
    height: 387px;
    width: 232px;
    padding-left: 40px;
    padding-top: 40px;
}

.package-card-hot {
    height: 480px;
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}

.package-section {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .nav-bar {
        width: 100%;
    }

    .wadding-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .packege-col {
        display: flex;
        justify-content: center;
    }

    .package-card-hot {
        width: 292px;
    }
    .package-card {
        padding-left: 0;
        padding-top: 0;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .nav-bar {
        width: 100%;
    }

    .wadding-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .packege-col {
        display: flex;
        justify-content: center;
    }

    .package-card-hot {
        width: 292px;
    }
    .package-card {
        padding-left: 0;
        padding-top: 0;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .nav-bar {
        max-width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .wadding-section {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .nav-bar {
        max-width: auto;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .nav-bar {
        max-width: auto;
        margin-left: 200px;
        margin-right: 200px;
    }

}